<div class="container">
	<h1 class="center-text">ABOUT US</h1>
	<p class="about-us">
	  We are #tech group -
	</p>
	<div class="text-center">
		<% @names.each do |name| %>
		  <%= name %></br>
		<% end %>
	</div>
</div>